html, body {
  height: 101%;
  margin: 0;
  text-align: center;
  background-color: #effffb;
}

hr {
  border: 0;
  height: 2rem;
  background-image: url(hr.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 8rem;
}

h1 {
  font-family: 'Teko', sans-serif;
  margin: 0;
  color: #197aad;
  font-size: 400%;
  height: 6rem;
}

p {
  line-height: 2;
  font-family: 'Days One', sans-serif;
  color: #d9455f;
  font-size: 130%;
  margin: 0;
}

h3 {
  font-family: 'Krona One', sans-serif;
}

.centered {
  position: absolute;
  top: 60%;
  left: 49.5%;
  transform: translate(-50%, -50%);
  width: 20%;
}

.intro_img {
  padding-top: 10rem;
  position: relative;
  display: inline-block;
  width: 40%;
  margin: auto;
}

.into_1 {
  position: relative;
  margin: auto;
  width: 50%;
}

.into_2 {}

.main_img {
  background-image: url("jla.jpg");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
